body {
	background-color: #faf8ef;
	color: #776e65;
	font-size: 2vw;
	font-family: "Fredoka One", cursive;
	font-family: "Inter", sans-serif;
	overscroll-behavior-y: contain;
}

.field {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	justify-content: center;
	margin: 0.05em;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.modal-hidden {
	visibility: hidden;
}

.modal-visible {
	visibility: visible;
}

.modal .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.modal-window {
	font-size: 2.5rem;
	margin-top: 150px;
	position: relative;
	z-index: 2;
	width: 40vw;
	height: 40vw;
	min-width: 250px;
	min-height: 250px;
	max-width: calc(60vh - 2rem);
	max-height: calc(60vh - 2rem);
	background-color: #faf8ef;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
}

.modal-button {
	height: 40px;
	width: 40%;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #f9f6f2;
	background-color: #8f7a66;
	border: none;
	border-radius: 5px;
}

.modal-title {
	width: 90%;
	margin-bottom: 5%;
	text-align: center;
}

.cell {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	aspect-ratio: 1;
	position: relative;
}

.cell-content {
	border-radius: 5px;
	min-width: 90%;
	min-height: 90%;
	margin: 5%;
	text-align: center;
	font-size: calc(15px + 0.4vw);
}

.container {
	box-sizing: border-box;
	padding: 5px;
	width: 40vw;
	height: 40vw;
	min-width: 250px;
	min-height: 250px;
	max-width: calc(60vh - 2rem);
	max-height: calc(60vh - 2rem);
	overflow: hidden;
	margin: auto;
	background-color: rgb(187, 173, 160);
	border-radius: 10px;
}

.header {
	text-align: center;
	box-sizing: border-box;
	font-size: 20px;
	width: 40vw;
	min-width: 250px;
	max-width: calc(60vh - 2rem);
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	height: 110px;
	font-size: 2.5rem;
	font-weight: bold;
	margin: 1rem 0rem;
	line-height: 110px;
	box-sizing: content-box;
}

.menu {
	box-sizing: border-box;
	height: 110px;
	width: 10vw;
	min-width: 120px;
	max-width: 15vw;
	margin: 1rem 0rem;
}

.score-container {
	height: 60px;
	line-height: 30px;
	width: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	border-radius: 5px;
	background: #bbada0;
	color: white;
	text-align: center;
}

.restart-button {
	height: 40px;
	width: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #f9f6f2;
	background-color: #8f7a66;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
}

.animation_update {
	animation: animation_update 0.3s;
}

@keyframes animation_update {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.animation_spawn {
	animation: animation_spawn 0.2s;
}

@keyframes animation_spawn {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

.style_0 {
	color: #776e65;
	background-color: #eee4da59;
	box-shadow: none;
}

.style_2 {
	color: #776e65;
	background-color: #eee4da;
	box-shadow: none;
}

.style_4 {
	color: #776e65;
	background-color: #eee1c9;
	box-shadow: none;
}

.style_8 {
	color: #f9f6f2;
	background-color: #f3b27a;
	box-shadow: none;
}
.style_16 {
	color: #f9f6f2;
	background-color: #f69664;
	box-shadow: none;
}
.style_32 {
	color: #f9f6f2;
	background-color: #f77c5f;
	box-shadow: none;
}
.style_64 {
	color: #f9f6f2;
	background-color: #f75f3b;
	box-shadow: none;
}
.style_128 {
	color: #f9f6f2;
	background-color: #edd073;
	box-shadow: 0 0 30px 10px rgb(243 215 116 / 24%),
		inset 0 0 0 1px rgb(255 255 255 / 14%);
}
.style_256 {
	color: #f9f6f2;
	background-color: #edcc62;
	box-shadow: 0 0 30px 10px rgb(243 215 116 / 32%),
		inset 0 0 0 1px rgb(255 255 255 / 19%);
}

.style_512 {
	color: #f9f6f2;
	background-color: #edc950;
	box-shadow: 0 0 30px 10px rgb(243 215 116 / 40%),
		inset 0 0 0 1px rgb(255 255 255 / 24%);
}
.style_1024 {
	color: #f9f6f2;
	background-color: #edc53f;
	box-shadow: 0 0 30px 10px rgb(243 215 116 / 48%),
		inset 0 0 0 1px rgb(255 255 255 / 29%);
}
.style_2048 {
	color: #f9f6f2;
	background-color: #edc22e;
	box-shadow: 0 0 30px 10px rgb(243 215 116 / 56%),
		inset 0 0 0 1px rgb(255 255 255 / 33%);
}
